
<head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  

    <div class="space">
      <h1>Update Student</h1>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-3" for="firstName">First Name:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="firstName" [(ngModel)]="student.firstName" required name="firstName">
        </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-3" for="lastName">Last Name:</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="lastName" [(ngModel)]="student.lastName"    required  name="lastName">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="email">Email:</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="email" [(ngModel)]="student.email" required  name="email">
          </div>
        </div>
        <div *ngIf="message" class="alert alert-danger alert-dismissable fade show col-sm-4" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span area-hidden="true">&times;</span></button>
          <strong>Careful!</strong> {{message}}.
        </div>
      <div class="form-group">        
        <div class="control-label">
          <div class="btn-group">
          <button type="button" (click)="updateStudent()"  class="btn btn-success">Update</button>
          <button type="button" (click)="backtolist()" class="btn btn-primary">Back To List</button>
        </div>
        </div>
      </div>
    </form>
  </div>
  
  </body>

  