<h1>Students</h1>
<div class="container">

  <div *ngIf="message" class="alert alert-success alert-dismissable fade show col-sm-3" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span area-hidden="true">&times;</span></button>
    <strong>Success!</strong> {{message}}.
  </div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Edit</th>
        <th scope="col">Details</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of students">
        <td>{{item.firstName}} </td>
        <td>{{item.lastName}}</td>
        <td>{{item.email}}</td>
        <td><img src="../../assets/pencil.png" class="editicon" (click)="editStudent(item.id)"></td>
        <td><img src="../../assets/details.png" class="editicon" (click)="detailStudent(item.id)"></td>
        <td><img src="../../assets/erase.png" class="editicon" (click)="deleteStudent(item)"></td>
      </tr>
      
    </tbody>
  </table>
</div>

